* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.sections {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.section {
  width: 100%;
  height: 120vh;

  display: block;
  position: relative;
  box-sizing: border-box;
}

.section[data-id="0"] {
  background-color: orange;
}

.section[data-id="1"] {
  background-color: yellow;
}

.section[data-id="2"] {
  background-color: green;
}

.section[data-id="3"] {
  background-color: blue;
}

.title {
  font-size: 5rem;
  color: #000;
  text-transform: uppercase;
  position: fixed;
  display: inline-block;
  margin-left: 10vw;
  top: 40vh;
  z-index: 4;
  user-select: none;
  pointer-events: none;
  overflow: hidden;

  //opacity: 0;
}

.title.hidden {
  opacity: 0;
}

.title .title-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}
