@charset "UTF-8";
*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    background-color: #fff;
    color: #333;
}
li{list-style: none;}
a{text-decoration: none; color: #000;}

#wrap{
    width: 1200px;
    margin: 0 auto;
}

/* ///header/// */
#header{
    width: 100%;
    display: flex;
    background-color: #efffd8;
}
#header .logo{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .logo img{
    width: 200px;
    height: 40px;
}
#header .nav{
    width: 80%;
    height: 100px;
}

/* nav-menu*/
.nav>ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 59px;
    margin-top: 59px;
}
.nav>ul>li{
    position: relative;
    transition: 0.3s;

}
.nav>ul>li>a{
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    height: 100%;
    width: 125px;
    text-align: center;

}
.nav>ul>li>a:hover{
    background-color: #e3e3e3;
}

/* nav-submenu */
.nav>ul>li>ul{
    position: absolute;
    width: 100%;
}
.nav>ul>li>ul>li{}
.nav>ul>li>ul>li>a{
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #d9f4b3;
}
.nav>ul>li>ul>li>a:hover{
    background-color: #afd47b;
}


/* ///slider/// */
#slider{
    width: 100%;
    height: 300px;
    background-color: #333;
}

/* ///contents/// */
#contents{
    width: 100%;
    display: flex;
}
#contents .notice{
    width: 33.3333%;
    height: 200px;
    background-color: #444;
}
#contents .gallery{
    width: 33.3333%;
    height: 200px;
    background-color: #555;
}
#contents .banner{
    width: 33.3333%;
    height: 200px;
    background-color: #666;
}

/* ///footer/// */
#footer{
    width: 100%;
    display: flex;
}
#footer .logo{
    width: 20%;
    height: 100px;
    background-color: #777;
}
#footer .copy{
    width: 60%;
    height: 100px;
    background-color: #888;
}
#footer .fs{
    width: 20%;
    height: 100px;
    background-color: #999;
}