*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --color-text: #111;
  --color-bg: #e3efed;
  --color-bg-alt: #8ca9af;
  --color-link: rgba(0,0,0,0.6);
  --color-link-hover: #000;
  --page-padding: 1.5rem;
  --color-title: #000;
}

.demo-2 {
  --color-bg: #d8e5ec;
  --color-bg-alt: #7e8b92;
  --color-title: #223233;
}

.demo-3 {
  --color-bg: #ece6df;
  --color-bg-alt: #8b8078;
  --color-title: #191818;
}


body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
  background: url(../img/noise.png), radial-gradient(circle, var(--color-bg) 0%, var(--color-bg-alt) 100%);
  background-size: 150px, 100% 100vh;
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}


.scene {
  perspective: 1000px;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card__img {
  width: 5em;
  border-radius: 5px;
  aspect-ratio: 2/3;
  background-position: center;
  background-size: cover;
}

.headings {
  text-align: center;
  position: relative;
  z-index: 10;
  color: var(--color-title);
  text-transform: uppercase;
}

.headings__main {
  line-height: 0.5;
  font-size: clamp(2.5rem, 1.59rem + 3.883vw, 6.25rem);
}

.headings_subtitle {
  line-height: 0.5;
  font-size: clamp(1rem, 0.757rem + 1.036vw, 2rem);
}

@media screen and (min-width: 53em) {
  .frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto auto;
    align-content: space-between;
    grid-template-areas: "title back archive github sponsor" "tags tags tags demos demos";
  }
  .frame #cdawrap,
  .frame__demos {
    justify-self: end;
  }

  .card__img {
    width: 6em;
  }
}
