
body {
    --color-text: #000000;
    --color-bg: #ffffff;
    --font-size-l: 24vw;
    --content-offset: 20vh;
    --color-rep-bg: var(--color-bg);
    --font-factor: 0.059;
}


.content {
	margin: var(--content-offset) 0 0 0;
	display: flex;
	flex-direction: column;	
	align-items: center;
}


.content__title--size-l {
	--size: var(--font-size-l);
}


.content__title {
	font-size: var(--size);
	display: grid;
	text-transform: var(--font-case);
}



.text-rep span {
	grid-area: 1 / 1 / 2 / 2;
	background: var(--color-rep-bg);
	line-height: 0.745;
	padding-bottom: calc(var(--font-factor)* var(--size));
	will-change: transform;
}
