@charset "UTF-8";


/* font-family: "Noto Sans KR"; */

*{margin: 0;padding: 0; box-sizing: border-box;}
.clearfix::after{content: ""; clear: both; display: block;}

/* Page */
.Page{
}

/* web_pg */
.web_pg{padding: 0 18px;}

/* top */
.top{}


/* bar */
.bar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar .time{
font-size: calc(18px - 0.5vw);
color: #000;
}
.bar .bar_right{
    display: flex;
    line-height: 0;
}
.bar .bar_right img{
    inline-size: calc(19px - 0.5vw);;
    margin-right: 5px;
}


/* tittle */
.tittle{
    margin-top: 41px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.tittle .t_left{
    
}
.tittle .t_left .tt{
    font-size: 4.5vw;
    color: #1C1C1C;
    margin: 5px 10px 5px 0px;
    font-family: "Noto Sans KR";
    font-weight: 800;
}
.tittle .t_left .ts{
    font-size: 3vw;
    color: #6C6C6C;
    margin-top: 5px;
    font-family: "Noto Sans KR";
    font-weight: 400;
}
.tittle .t_right{
    display: flex;
}
.tittle .t_right img{
    inline-size: calc(22px - 0.5vw);
    margin: 10px;
}


/* box */
.box{
    margin-top: 40px;
}
.box .img{
    position: relative;
    padding: 227px 35px 26px;
    border-radius: 20px;
    background: url(./img/표지.png) no-repeat center left/cover;
    margin-bottom: 18px;
    box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: calc(279px + 20vw);
}

/* .writer */
.box .img .writer{
    position: absolute;
    bottom: 26px; left: 35px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    padding: 18px 26px;
    font-size: 15px;
    font-family: "Noto Sans KR";
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(-106px + 100vw);
}
.box .img .writer .ww{

}
.box .img .writer .ww .w1{
    font-size: calc(15px - 0.2vw);
    font-weight: 800;
    color: #1C1C1C;
}
.box .img .writer .ww .w2{
    font-size: calc(15px - 0.2vw);
    font-weight: 400;
    color: #6C6C6C;
}
.box .img .good{
    display: flex;
    align-items: center;
    padding: 5px 6px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.box .img .good .좋아요{
    line-height: 0;
}
.box .img .good img{
    inline-size: calc(22px - 0.5vw);
    margin-right: 5px;
}
.box .img .good .좋아요수{
    font-size: calc(13px - 0.5vw);
    font-weight: 600;
    color: #35E947;
}

/* like */
.box .img .like{}
.box .img .like .bg_h{
    position: absolute;
    top: 21px;
    right: 35px;
    width: 30px; height: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}
.box .img .like .heart{
    position: absolute;
    top: 21px;
    right: 35px;
    margin: 5px;
    width: 20px; height: 20px;
    background: url(./img/하트.png) no-repeat;
}

/* pg_nv */
.box .pg_nv{
    display: flex;
    justify-content: center;
}
.box .pg_nv .nv1{
    width: 6px; height: 6px;
    border-radius: 10px;
    background-color: #35E947;
    margin-right: 6px;
}
.box .pg_nv .nv2{
    width: 6px; height: 6px;
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-right: 6px;
}
.box .pg_nv .nv3{
    width: 6px; height: 6px;
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-right: 6px;
}
.box .pg_nv .nv4{
    width: 6px; height: 6px;
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-right: 6px;
}
.box .pg_nv .nv5{
    width: 6px; height: 6px;
    border-radius: 10px;
    background-color: #d9d9d9;
}


/* bottom */
.bottom{}

/* b_tittle */
.b_tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.b_tittle .b_right{
    font-size: 4.5vw;
    color: #1C1C1C;
    font-family: "Noto Sans KR";
    font-weight: 700;
}
.b_tittle .b_left{
    display: flex;
    align-items: center;
}
.b_tittle .b_left .b_more{
    font-size: 12px;
    color: #6C6C6C;
    font-family: "Noto Sans KR";
    font-weight: 400;
    padding-right: 5px;
}
.b_tittle .b_left .b_m_icon{
    width: 11px; height: 12px;
    background: url(./img/더보기.png) no-repeat;
}

/* b_img */
.b_img{
    margin-top: 39px;
    display: flex;
    gap: 18px;
}
.b_img .box1{
    position: relative;
    width: 196px; height: 235px;
    min-width: 196px;
    border-radius: 20px;
    background: url(./img/1화.png) no-repeat center left/cover;
    background-position: -53px -20px;
    padding-bottom: 78px;
    background-clip: content-box;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);  
}
.b_img .boxtittle{
    position: absolute;
    bottom: 15px;left: 19px;
}
.b_img .box_t{
    font-size: 12px;
    color: #1C1C1C;
    font-family: "Noto Sans KR";
    font-weight: 700;
    margin-bottom: 9px;
}
.b_img .box_s{
    font-size: 9px;
    color: #6C6C6C;
    font-family: "Noto Sans KR";
    font-weight: 400;
}
.b_img .box2{
    position: relative;
    width: 196px; height: 235px;
    min-width: 196px;
    border-radius: 20px;
    background: url(./img/2화.png) no-repeat center left/cover;
    background-position: -84px -59px;
    padding-bottom: 78px;
    background-clip: content-box;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);  
}
.b_img .box3{
    position: relative;
    width: 196px; height: 235px;
    min-width: 196px;
    border-radius: 20px;
    background: url(./img/3화.png) no-repeat center left/cover;
    background-position: -63px -20px;
    padding-bottom: 78px;
    background-clip: content-box;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);  
}
.b_img .box4{
    position: relative;
    width: 196px; height: 235px;
    min-width: 196px;
    border-radius: 20px;
    background: url(./img/4화.png) no-repeat center left/cover;
    background-position: -19px -1px;
    padding-bottom: 78px;
    background-clip: content-box;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);  
}
