
/* css 변수 만들기

규칙
--를 변수명 앞에 붙인다
--변수명:변수에 넣은 내용;

변수 사용하기
color:var(--변수명)

let 변수명 = 20;
*/

:root{
    --main-bg-color:#222;
    --main-div-color:#131313;
    --width:95%;
    --max-width:1600px;
    --border-radius:20px;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: #fff;}
body{
    background-color: var(--main-bg-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
}

h1{
    /* font-size: clamp(최소값,기본값,최대값); */
    font-size: clamp(32px,7vw,72px);
}

main{
    display: flex;
    flex-direction: column;
    padding: 2rem 0; /* 16px --> 1rem */
}
#hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container{
    width: var(--width);
    max-width: var(--max-width);
    padding: 2rem;
    background-color: var(--main-div-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.nav_container{display: flex;
justify-content: flex-end;
}
.nav_container nav{width: 450px;}
.nav_container nav ul{display: flex;
    justify-content: space-between;}
.nav_container nav ul li{}
.nav_container nav ul li a{}


.hero_text{}
.hero_text .sub_header{display: flex;
    align-items: center;
    gap: 0.5rem;
}
.sub_header .circle{
    width: 0.5rem; height: 0.5rem;
    background-color: aquamarine;
    border-radius: 50%;
}
.sub_header h4{font-weight: bold;}

.hero_text{margin-bottom: -141px;}
.hero_header{width: 80%; margin-bottom: 1rem;}

.hero_intro{width: 40%; opacity: 0.8;}


.carousel{overflow: hidden;
    position: relative;
}
.carousel .left_carousel{
    background-color: yellow;
    width: 30%; height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.carousel .right_carousel{}
.carousel .carousel_inner{display: flex; width: 200%;
    animation: marque 10s linear infinite;
}
.carousel .carousel_inner .item{
    width: 0;
    flex-grow: 1; /* 늘어나도록 설정 */
    /* flex-grow: 0; 기본값 (늘어나지 않게)*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .carousel_inner .item img{
    width: 60%;
}
@keyframes marque{
    0%{transform: translateX(0);}
    100%{transform: translateX(-50%);}
}


.bottom_div{
    width: var(--width);
}