* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Hahmlet", serif;
  color: #333;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: #333;
}

.noise {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-image: url("https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif");
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.05;
}

#section1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.heart {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(0.2);
  z-index: 1000;
}

.scrollIcon {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#section1 h1 {
  font-weight: 800;
  margin: 2rem auto;
  font-size: 5vw;
  font-weight: 900;
  text-align: center;
  z-index: 999;
  mix-blend-mode: difference;
  pointer-events: none;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  justify-self: flex-start;
}

.col:nth-child(2n) {
  align-self: flex-end;
  justify-self: flex-end;
}

.image {
  width: 100%;
  filter: saturate(0);
  padding: 1rem;
  overflow: hidden;
  transition: 0.3s;
}

.image:hover {
  filter: saturate(1);
}

.image img {
  transition: 0.3s ease-out;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 100%;
}

/* ////////////////////////////// */

.center {
  position: absolute;
  right: 40px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  padding-right: 32px;
}

.stand-by {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 300px;
  height: 265px;
  position: relative;
}

.points {
  width: 100%;
  height: 100%;
  position: relative;
}

.point {
  width: 1px;
  height: 12px;
  display: block;
  border: 0.2mm solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.8mm;
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 0.3mm);
}

.point.big {
  height: 14px;
  width: 1px;
  border: 0.3mm solid rgba(255, 255, 255, 0.8);
  background: white;
  top: calc(50% - 7px);
  left: calc(50% - 0.2mm);
}

.point.big .text {
  font-family: inter;
  color: white;
  position: absolute;
  top: 100%;
  font-size: 19px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  left: calc(50% - 20px);
}

.seconds,
.minutes,
.hours {
  width: 2px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: calc(50% - 1px);
  border-radius: 0.6mm;
  transform-origin: 1px 0;
}

.seconds {
  height: 92px;
  transform-origin: 1px 26px;
  top: calc(50% - 26px);
  background: orange;
  transform: rotate(30deg);
}

.minutes,
.hours {
  background: white;
}

.hours {
  height: 55px;
  transform: rotate(-30deg);
}

.minutes::before,
.hours::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 6px;
  height: 100%;
  background: white;
  border-radius: 2mm;
}

.pivot,
.pivot::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: black;
  border: 3px solid white;
  border-radius: 50%;
}

.pivot::before {
  content: "";
  border: 3px solid orange;
  width: 5px;
  height: 5px;
}

.weather-container {
  color: #fff;
  margin-right: 10px;
}

.weather-box p {
  font-size: 18px;
}

#location {
  margin-bottom: 10px;
}

#temperature {
  font-size: 33px;
  font-weight: 700;
}

.weather-box img {
  width: 147px;
  height: 147px;
  margin-block: -10px;
}

#time {
  font-size: 15px;
}

/* ////////////////////////////// */

#section2 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.canvas-cont {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  filter: grayscale(1);
}

#canvas3d {
  width: 100%;
  height: 100%;
  display: block;
}

.cards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 380px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  cursor: grab;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
  user-select: none;
  transition: transform 0.25s;
}

.card.active {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 30px 50px,
    rgba(0, 0, 0, 0.1) 0px 40px 40px;
  cursor: grabbing;
}

.card1 {
  top: 8%;
  left: 16%;
  transform: rotate(10deg);
}

.card2 {
  top: 39%;
  left: 13%;
  transform: rotate(341deg);
}

.card3 {
  top: 42%;
  left: 35%;
}

.card_img {
  position: absolute;
  top: 0;
  width: 260px;
  height: 284px;
  margin-top: 21px;
  background-color: #000;
}

.card1_img {
  background: url(img/49.jpg) no-repeat center/cover;
}

.card2_img {
  background: url(img/50.jpg) no-repeat center/cover;
}

.card3_img {
  background: url(img/51.jpg) no-repeat center/cover;
}

.card span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec2_txt {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

#section2 .wrapper {
  position: absolute;
  top: 23%;
  left: 0;
  padding: 11px 27px 15px;
  background-color: #d4d4d4;
  border-radius: 50px;
  width: 407px;
  color: #777777;
  font-size: 30px;
  line-height: 1.2;
}

#section2 .typing {
  width: 14ch;
  animation: typing 2s infinite steps(25),
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#section2 .fa-search {
  position: absolute;
  top: 29%;
  right: 4%;
  cursor: pointer;
  font-size: 24px;
}

#section2 .profile {
  position: absolute;
  top: 35%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 740px;
}

#section2 .pro_box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  padding: 12px 27px;
  margin-right: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

#section2 .pro_name {
  font-size: 23px;
  color: #414141;
}

#section2 .pro_box:hover .color1 {
  color: #437fc4;
}

#section2 .pro_box:hover .color2 {
  color: #43c46a;
}

#section2 .pro_box:hover .color3 {
  color: #ffae00;
}

#section2 .pro_box:hover .color4 {
  color: #7f43c4;
}

#section2 .pro_box:hover .color5 {
  color: #43a6c4;
}

#section2 .file-transfer {
  position: absolute;
  bottom: 23%;
  left: 0;
  width: 420px;
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3mm;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#section2 .head,
#section2 .details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#section2 .left,
#section2 .icons,
#section2 .controls {
  display: flex;
  align-items: center;
}

#section2 .head img {
  width: 20px;
  margin-right: 7px;
}

#section2 .title {
  font-size: 12px;
  font-weight: 500;
}

#section2 .icons span {
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(80, 80, 80);
}

#section2 .details {
  margin: 20px 0;
  padding: 0 5px;
  box-sizing: border-box;
}

#section2 .percentage {
  font-size: 24px;
  font-weight: 700;
}

#section2 .controls span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  background: rgba(100, 100, 100, 0.2);
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

#section2 .progress {
  width: calc(100% - 10px);
  height: 10px;
  background: rgba(100, 100, 100, 0.2);
  margin: auto;
  border-radius: 2mm;
  position: relative;
  margin-bottom: 15px;
}

#section2 .progress::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  border-radius: 2mm;
  background: rgb(70, 70, 70);
  animation: progress 10s linear infinite;
}

@keyframes progress {
  from {
    width: 0;
  }
}

#section2 .note {
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 12px;
  color: rgb(80, 80, 80);
  font-weight: 300;
  padding-bottom: 5px;
}

/* ////////////////////////////// */
#section3 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.sec3Wrap {
  width: 100%;
  height: 100%;
}

.content1 {
  position: absolute;
  margin-top: 69vh;
  margin-inline: 7rem;
  padding: 28px;
  font-size: 20px;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.2);
}

.tiles {
  --tiles-height: 52vw;
  height: var(--tiles-height);
  position: relative;
  overflow: hidden;
}

.tiles--perspective {
  overflow: visible;
  perspective: 1000px;
  --tiles-height: 500px;
}

.tiles__wrap {
  width: 150%;
  --tileswrap-height: var(--tiles-height);
  height: var(--tileswrap-height);
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translate3d(-50%, -50%, 0);
}

.tiles--perspective .tiles__wrap {
  width: 200%;
  transform: translate3d(-50%, -50%, 0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotateZ(12deg);
}

.tiles__line {
  display: flex;
}

.tiles__line-img {
  --tile-margin: 2vw;
  flex: none;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
  margin: var(--tile-margin);
  background-size: cover;
  background-position: 50% 50%;
  transition: filter 0.5s ease;
}

.gray {
  filter: grayscale(100%);
}

.color {
  filter: grayscale(0%);
}

.tiles--perspective .tiles__line-img {
  backface-visibility: hidden;
  outline: 1px solid transparent;
  --tile-margin: 1vw;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(16.666vw * 1.3);
}

.tiles--darker .tiles__line-img {
  opacity: 0.7;
}

.tiles__title {
  padding: 4rem 7rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 37vh;
  font-size: 5vw;
  font-weight: 800;
  margin: 0;
  line-height: 0.8;
  mix-blend-mode: difference;
  color: #fff;
  /* font-family: span, serif; */
}

.tiles__title--intro {
  padding-top: 15vh;
  align-items: flex-start;
  justify-content: flex-start;
}

/* //////////////////////////////////////////////// */

#section4 {
  /* width: 100%;
  height: 100vh; */
  overflow: hidden;
  position: relative;
}

#section4 section {
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
}

#section4 .section-1 {
  display: flex;
}

#section4 .section-2 {
  transform: translate(5%);
}

#section4 .main-wrapper {
  display: flex;
}

#section4 .section-3 {
  background-color: #353535;
  margin-top: -100vh;
  position: relative;
  overflow: hidden;
}

#section4 .box1 {
  width: 65%;
}

#section4 .box1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: url(img/52.jpg) no-repeat center/cover;
  opacity: 0.2;
  filter: blur(1px);
  z-index: -1;
}

#section4 .name {
  font-size: 5vw;
  z-index: 2;
  font-weight: 800;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 33%;
  transform: translate(-50%, -50%);
}

#section4 .memo {
  position: absolute;
  top: 37%;
  left: 22%;
  transform: translate(-50%, -50%);
  width: 22%;
  height: 38%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  animation: memoScale 2s ease-in-out infinite;
}

@keyframes memoScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#section4 .memo::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #353535;
  opacity: 0.4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.memo_icons {
  width: 100%;
  padding: 5px;
  padding-inline: 12px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  height: 10%;
}

.memo_icons_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fa-times {
  font-size: 18px;
  padding-bottom: 1.9px;
}

.memo_txt {
  width: 100%;
  height: 100%;
  padding-block: 24px;
  padding-inline: 25px;
}

.memo_txt h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 23px;
}

.memo_txt li {
  font-size: 17px;
  margin-bottom: 11px;
}

#section4 .box2 {
  width: 35%;
  z-index: 2;
}

#section4 .image-gallery {
  display: flex;
  height: 100vh;
}

#section4 .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section4 img {
  min-height: 300px;
  height: auto;
  width: 224px;
  object-fit: cover;
  background-color: #353535;
}

#section4 .col-1 img,
#section4 .col-3 img {
  padding: 0.2rem 0.5rem;
}

#section4 .col-2 img {
  padding: 0.2rem 0;
}

#section4 .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#section4 .left {
  width: 65%;
  padding: 0 0.8rem;
  padding-left: 0;
  padding-bottom: 0.5rem;
}

#section4 .left img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#section4 p {
  font-size: 80px;
}

#section4 .line-1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#section4 .line-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

#section4 .num {
  text-align: left;
  width: 100%;
}

#section4 .loop {
  height: 30px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 1px solid #444;
  position: absolute;
  top: 75%;
  left: 80%;
  cursor: pointer;
}

#section4 .loop span {
  animation: loop 10s linear infinite;
  display: inline-block;
  padding-left: 110%;
}

#section4 .loop2 span {
  animation-delay: 5s;
}

@keyframes loop {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

#section4 .right {
  width: 35%;
}

#section4 .animate-text {
  height: 120px;
  background-color: #353535;
  color: #fff;
  font-size: 100px;
  white-space: nowrap;
  overflow: hidden;
}

#section4 .animate-text span {
  animation: loop 10s linear infinite;
  display: inline-block;
}

#section4 .img-container {
  width: 100%;
  /* height: 780px; */
  padding: 0.5rem;
  background-color: #353535;
}

#section4 .img-container img {
  width: 100%;
  object-fit: cover;
}

#section4 .rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
  align-items: flex-end;
}

#section4 .row {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 33.33%;
  color: #fff;
}

#section4 .row-2 {
  background-color: #fff;
  color: #353535;
}

#section4 .row li {
  font-size: 220px;
  transform: translateX(50%);
}

#section4 .side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65px;
  background-color: #fff;
  height: 100%;
  padding: 1rem;
  position: fixed;
  left: -5%;
  top: 0;
  /* opacity: 0; */
  z-index: 11;
}

#section4 .side-bar div {
  transform: rotate(-90deg);
}

#section4 .des {
  font-size: 10px;
  width: 200px;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

/* //////////////////////////////////////////////// */

#section5 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* background-color: #4b4b4b; */
}

.skill_wrap {
  height: 100vh;
  display: grid;
  align-items: center;
  align-content: center;
  gap: 119px;
}

.skill_wrap .skill {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 68%;
}

.skill.skill1 {
  margin-left: 5vw;
}

.skill.skill2 {
  margin-right: 4.8vw;
}

.s_circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 40px;
  padding-inline: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  animation: skillScale 2s ease-in-out infinite;
}

@keyframes skillScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

#section5 .s_circle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background-color: #353535;
  opacity: 0.4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.s_circle .s_icons {
  position: absolute;
  top: 0;
  width: 100%;
  padding-block: 3%;
  padding-inline: 5%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s_circle .s_icons .s_icons_right {
  display: flex;
  align-items: center;
  gap: 7px;
}

.fa-times {
  font-size: 14px;
}

.skill_wrap .skill>div h3 {
  /* color: orange; */
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.progress2 {
  --color: rgb(255, 72, 0);
}

.circle-progress {
  /* width: 100%;
  height: auto; */
}

.circle-progress-value {
  stroke-width: 6px;
  stroke: var(--color);
  stroke-dasharray: 6 2;
}

.circle-progress-circle {
  stroke-width: 6px;
  /* stroke: #17181c; */
}

.circle-progress-text {
  font-weight: bold;
  fill: var(--color);
}

input[type="range"] {
  display: none;
}

/* //////////////////////////////////////////////// */

#section6 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  z-index: 2;
}

.letters {
  flex: 1;
  display: flex;
  text-transform: uppercase;
}

.letters>div {
  flex: 1;
  font-size: 12vw;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.website-content {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100vh;
}

.img-holder {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #666;
  clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
  transform: rotate(30deg);
}

.img-holder img {
  object-fit: cover;
  width: 100%;
  position: relative;
  transform: scale(2);
}

/* //////////////////////////////////////////////// */
#section7 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#section7 .pro_slick {
  width: 100%;
  height: 100%;
}

#section7 .pro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#section7 .pro .pro_left {
  width: 50%;
  height: 100%;
}

#section7 .computerwrap {
  position: relative;
  top: 47%;
  transform: translate(-50%, -50%);
  left: 60%;
  width: 95%;
  height: 67%;

}

#section7 .computer {
  width: 900px;
  height: 640px;
  background: url(img/computer.png) no-repeat center / cover;
  position: relative;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

#section7 .computerwrap .com_site {
  position: relative;
  top: -59%;
  left: 56%;
  transform: translate(-50%, -50%);
  width: 569px;
  height: 331px;
  /* overflow-y: hidden; */
  z-index: 1;
}

/* .com_site:hover {
  scroll-behavior: 100%;
} */

#section7 .computerwrap.com_site:hover {}

#section7 .tablet {
  position: relative;
  top: -7%;
  transform: translate(-50%, -50%);
  left: 89%;
  background: url(img/tablet.png) no-repeat center / cover;
  width: 51%;
  height: 31%;
  z-index: 3;
}

#section7 .phone {
  position: relative;
  top: -39%;
  transform: translate(-50%, -50%);
  left: 28%;
  background: url(img/phone.png) no-repeat center / cover;
  width: 33%;
  height: 34%;
  z-index: 3;
}

#section7 .pro .pro_right {
  width: 50%;
  height: 100%;
  position: relative;
}

#section7 .pro .pro_right_wrap {
  position: absolute;
  top: 45%;
  left: 46%;
  transform: translate(-50%, -50%);
}

#section7 .pro_tit {
  font-weight: 600;
  font-size: 4vw;
  line-height: 1.2;
  margin-bottom: 16px;
}

#section7 .pro_txt {
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 1.2;
  margin-bottom: 39px;
}


#section7 .skill_wrap {
  height: 100%;
  display: block;
  gap: 0;
}

#section7 .skill_wrap .sec7_skill {
  margin: 0;
  margin-top: 27px;
  margin-left: 5px;
  display: flex;
  gap: 30px;
  width: 73%;
  right: 0;
}

#section7 .s_circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  border-radius: 0;
  background-color: inherit;
  animation: none;
}

#section7 .skill_wrap .sec7_skill>div h3 {
  font-size: 0.7vw;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

#section7 .progress3 {
  --color: #333;
}

#section7 .circle-progress {
  width: 100%;
}

#section7 .circle-progress-value {
  stroke-dasharray: 35 2;
}

#section7 .circle-progress-text {
  font-weight: 500;
}

#section7 .view_button {
  margin-top: 55px;
  margin-left: 5px;
}

#section7 .view_button a {
  color: #fff;
  border-radius: 5px;
  background-color: #333;
  padding: 10px 20px;
}

#section7 .view_button a .fas {
  margin-left: 10px;
}