*{margin: 0;padding: 0;box-sizing: border-box;}
section{height: 100vh;}
.flex{display: flex; flex-direction: column;}
.jcS{justify-content: flex-start;}
.jcE{justify-content: flex-end; align-items: flex-end;}

p{
  width: 200px; height: 100px;
  background: #122f6e;
  margin-bottom: 20vh;
}
h4{
  background-color: #2f63d4;
  text-decoration: underline;
  margin-bottom: 30vh;
}
a{
  display: inline-block;
  width: 100px; height: 50px;
  background-color: #70b1fc;
}