html,
body,
.view-container,
.page1,
.page2,
.page3,
.page4,
.page5 {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.page1 {
  padding: 40px;
  background: #e74c3c;
}

.page2 {
  padding: 40px;
  background: #27ae60;
}
.page3 {
  padding: 40px;
  background: #2737ae;
}
.page4 {
  padding: 40px;
  background: #ae2771;
}
.page5 {
  padding: 40px;
  background: #f56416;
}
.page-title {
  text-align: center;
  font-size: 120px;
  text-transform: uppercase;
  color: #fff;
}

.pageload-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.pageload-overlay.show {
  visibility: visible;
}

.pageload-overlay svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.pageload-overlay svg path {
  fill: #fff;
}

.link {
  display: inline-block;
  height: 48px;
  color: #e67e22;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .2s linear;
}

.link:hover {
  color: rgba(230, 126, 33, .6);
}