/ days sourced from: https://nationaldaycalendar.com/february/
%h1 February 2022
%p
  Holidays and Daily Observances in the United States
.wrap
  %ul
    %li
      %time{:datetime => "2022-02-01"} 1
      %span Dark Chocolate Day
    %li
      %time{:datetime => "2022-02-02"} 2
      %span Groundhog Day
    %li
      %time{:datetime => "2022-02-03"} 3
      %span Carrot Cake Day
    %li
      %time{:datetime => "2022-02-04"} 4
      %span Wear Red Day
    %li
      %time{:datetime => "2022-02-05"} 5
      %span Weatherperson's Day
    %li
      %time{:datetime => "2022-02-06"} 6
      %span Chopsticks Day
    %li
      %time{:datetime => "2022-02-07"} 7
      %span Periodic Table Day
    %li
      %time{:datetime => "2022-02-08"} 8
      %span Kite Flying Day
    %li
      %time{:datetime => "2022-02-09"} 9
      %span Pizza Day
    %li
      %time{:datetime => "2022-02-10"} 10
      %span Umbrella Day
    %li
      %time{:datetime => "2022-02-11"} 11
      %span Inventor's Day
    %li
      %time{:datetime => "2022-02-12"} 12
      %span Global Movie Day
    %li
      %time{:datetime => "2022-02-13"} 13
      %span Tortellini Day
    %li
      %time{:datetime => "2022-02-14"} 14
      %span Valentine's Day
    %li
      %time{:datetime => "2022-02-15"} 15
      %span Gumdrop Day
    %li
      %time{:datetime => "2022-02-16"} 16
      %span Do a Grouch a Favor Day
    %li
      %time{:datetime => "2022-02-17"} 17
      %span Cabbage Day
    %li
      %time{:datetime => "2022-02-18"} 18
      %span Battery Day
    %li
      %time{:datetime => "2022-02-19"} 19
      %span Chocolate Mint Day
    %li
      %time{:datetime => "2022-02-20"} 20
      %span Love Your Pet Day
    %li
      %time{:datetime => "2022-02-21"} 21
      %span President's Day
    %li
      %time{:datetime => "2022-02-22"} 22
      %span Cook a Sweet Potato Day
    %li
      %time{:datetime => "2022-02-23"} 23
      %span Tile Day
    %li
      %time{:datetime => "2022-02-24"} 24
      %span Toast Day
    %li
      %time{:datetime => "2022-02-25"} 25
      %span Clam Chowder Day
    %li
      %time{:datetime => "2022-02-26"} 26
      %span Pistachio Day
    %li
      %time{:datetime => "2022-02-27"} 27
      %span Polar Bear Day
    %li
      %time{:datetime => "2022-02-28"} 28
      %span Tooth Fairy Day

.panelwrap
  -29.times do
    .panel