*{margin: 0; padding: 0;}

/* padding:상하좌우
padding:10px (padding-top:0, padding-right:10px, padding-left:10px, padding-bottom:10px)
padding:10px 20px; 위아래 좌우
padding:10px 20px 30px; 위 좌우 아래
padding:10px 20px 30px 40px; 위에서 시계 방향(padding-top:10px, padding-right:20px, padding-bottom:30px, padding-left:40px)
*margin = padding 위치 같음 */

/* 아이디를 호출하는 방법
앞에 #을 적고 뒤에 이름
아이디는 전체사이트에서 이름이 유일해야한다.(반복되면 안됨, 같은 이름이 있으면 안됨)
아이디가 2개이상 되면 안됨 ex) id="조상 일번" (x) */


/* 태그에는 3가지 요소가 있다.
1. block  --  부모의 넓이를 모두 차지, 공간의 개념
2. inline  --  block요소안에 글자와 같은 성질을 가지는 요소, 공간의 개념없음
3. inline-block  --  block요소안에 글자와 같은 성질, 공간의 개념 */

/* *::before, after는 무조건 content, clear : both, display : block*/

.약::after{content:""; clear:both; display: block;}
#조상{}
#조상 .첫째{background-color: cadetblue;}

#조상 .둘째{background-color: chocolate;}
/* ::before, ::after는 css에서 만드는 가상의 공간이며
inline 성질을 가진다. content:"";와 반드시 같이 공존한다. */
#조상 .둘째::before{content: "🐱‍👤"; background-color: blueviolet;}
#조상 .둘째::after{content: "🐱‍👤";} 
#조상 .둘째 em{background-color: aqua; width: 200px;}

#조상 .셋째{background-color: cornflowerblue;
margin-top: 50px; width: 1000px;
margin-left: auto; margin-right: auto;
}
#조상 .셋째 .세일{background-color: darkkhaki; width: 300px;
    float: left;
}
#조상 .셋째 .세이{background-color: darkolivegreen;width: 300px;
    float: left;
}
#조상 .셋째 .세삼{background-color: gold;width: 300px;
    float: left;
}


/* id = # / class = . */

#조상 .넷째{background-color: darksalmon; 
    width: 1245px;
    /* margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    margin: 위 좌우 아래; */
    margin: 50px auto 0;
}
#조상 .넷째 .child{width: 300px;height: 200px;
    float: left; margin-right: 15px;
    text-align: center; /* 글자의 정렬 */
    line-height: 200px; /* 행간 */
    font-size: 25px; /* 글자의 크기 기본값이 16px, 10px이하는 적용안됨. */
    font-weight: bold; /* 글자의 두께 */ 
}
#조상 .넷째 .네일{background-color: rgb(228, 86, 157);
background-image: url(../img/1.png);
}
#조상 .넷째 .네이{background-color: rgb(141, 61, 29);
background-image: url(../img/2.png);
}
#조상 .넷째 .네삼{background-color: rgb(176, 104, 176);
background-image: url(../img/3.png);
transition: 0.3s;
}
#조상 .넷째 .네삼:hover{
    background-image: url(../img/4.png)
}
#조상 .넷째 .네사{background-color: violet; margin-right: 0;
background-image: url(../img/4.png);
}
