:root {
  --main-white-color: #fff;
  --main-black-color: #000;

  /* btn*/
  --main-btn-color: #f1f1f1;
  --main-btn-hover-color: #b9b9b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
  font-weight: 200;
  word-spacing: 3px;
  letter-spacing: 0.5px;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  color: var(--main-white-color);
  cursor: pointer;
  font-size: 30px;
}
body {
  width: 100%;
  height: 100vh;
  color: var(--main-white-color);
  background-color: var(--main-black-color);
}

#wrap {
  position: relative;
}

#section1 {
  overflow: hidden;
  position: relative;
}

.div5 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.controls {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
}

.control {
  font-size: 18px;
  border: 1px solid transparent;
  margin-inline: 2px;
  padding-bottom: 5px;
  transition: 0.3s all ease-in-out;
  background: transparent;
  color: var(--main-white-color);
  cursor: pointer;
}

.control:hover {
  border-bottom: 1px solid var(--main-white-color);
}

.sec1_tit {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
  font-size: 27px;
  /* z-index: 100; */
}

.sec1_bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  /* z-index: -1; */
}

.bg1,
.bg2,
.bg3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
}

.bg1.on,
.bg2.on,
.bg3.on {
  opacity: 1;
}

.sec1_name {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.park,
.hyeon {
  position: relative;
}

.sec1_name h1 {
  font-size: 272px;
  color: transparent;
  -webkit-text-stroke: 3px var(--main-white-color);
  font-weight: bold;
  text-align: center;
  padding: 22px;
  transition: 0.6s;
}

.sec1_name h1:hover {
  -webkit-text-stroke: 0px;
}

.name_span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-black-color);
  text-align: center;
  font-size: 0px;
  font-weight: 300;
}

.name_span.on {
  font-size: 20px;
}

.sec1_2024 {
  position: absolute;
  top: -3%;
  left: 3%;
  font-size: 20px;
}

.border_top {
  position: absolute;
  top: 0%;
  left: 2%;
  border-left: 2px solid var(--main-white-color);
  height: 0px;
}

.sec1_web {
  position: absolute;
  bottom: 3%;
  left: -3%;
  font-size: 20px;
}

.border_left {
  position: absolute;
  bottom: 2%;
  left: 0;
  border-bottom: 2px solid var(--main-white-color);
  width: 0px;
}

.sec1_port {
  position: absolute;
  bottom: 0%;
  right: 3%;
  font-size: 20px;
}

.border_bottom {
  position: absolute;
  bottom: 0;
  right: 2%;
  border-right: 2px solid var(--main-white-color);
  height: 0px;
}

.fa-sun {
  position: absolute;
  top: 3%;
  right: 0%;
  font-size: 20px;
  cursor: pointer;
}

.border_right {
  position: absolute;
  top: 2%;
  right: 0;
  border-top: 2px solid var(--main-white-color);
  width: 0px;
}

#section2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* z-index: -2; */
}

#section2 > video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.section_text {
  position: absolute;
  top: 80px;
  right: 50px;
  text-align: right;
}

.sec_tit {
  font-size: 50px;
  font-weight: 500;
}

.clock {
  font-size: 30px;
}

.clock .mark {
  margin: -10px;
}

.call {
  position: relative;
  height: 100%;
}

.call .circle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--main-white-color);
  top: 40%;
  left: 15%;
  transform: translateX(-50%);
  z-index: 10;
}
.call .circle2 {
  position: absolute;
  border-radius: 100px 100px 0 0;
  border: 2px solid var(--main-white-color); /* 테두리 색상과 두께 설정 */
  background-color: transparent;
  top: 40%;
  left: 20%;
  transform: translateX(-50%);
  cursor: pointer;
}
.call .circle2:hover {
  background-color: var(--main-white-color);
}

.call .textBox {
  position: absolute;
  bottom: 2.5%;
  left: 15%;
  transform: translateX(-50%);
  z-index: 10;
}

.call .textBox > p {
  text-align: center;
  font-weight: 500;
  color: var(--main-black-color);
  font-size: 19px;
}

#section2 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.cube {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  perspective: 1500px;
}

.box-area {
  position: relative;
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
  transition: 0.5s;
  transform: rotateX(0deg) rotateY(0deg);
}

.box-area .box {
  position: absolute;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-area .box h2 {
  font-size: 25px;
  color: var(--main-white-color);
}

.box-area .box-front {
  background: url(img/img1.jpg) center/cover no-repeat;
  transform: translateZ(150px);
}

.box-area .box-right {
  background: url(img/img2.jpg) center/cover no-repeat;
  transform: rotateY(90deg) translateZ(150px);
}

.box-area .box-back {
  background: url(img/img3.jpg) center/cover no-repeat;
  transform: rotateY(180deg) translateZ(150px);
}

.box-area .box-left {
  background: url(img/img4.jpg) center/cover no-repeat;
  transform: rotateY(-90deg) translateZ(150px);
}

.box-area .box-top {
  background: url(img/img5.jpg) center/cover no-repeat;
  transform: rotateX(90deg) translateZ(150px);
}

.box-area .box-bottom {
  background: url(img/img6.jpg) center/cover no-repeat;
  transform: rotateX(-90deg) translateZ(150px);
}

.button {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button > div {
  position: absolute;
}

.button .rotate-x-top {
  position: absolute;
  top: -270px;
}
.button .rotate-x-bottom {
  position: absolute;
  bottom: -270px;
  width: 25px;
}
.button .rotate-y-left {
  position: absolute;
  left: -270px;
}
.button .rotate-y-right {
  position: absolute;
  right: -270px;
}

.button .front {
  left: -285px;
  top: -206px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  background-color: var(--main-white-color);
  color: var(--main-black-color);
  border-radius: 50%;
}
.button .front:hover {
  background-color: var(--main-black-color);
  color: var(--main-white-color);
}

.cube2 {
  position: absolute;
  top: 65%;
  right: 14%;
  transform: translate(-50%, -50%);
  perspective: 1500px;
}
.box-area2 {
  position: relative;
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
  transition: 0.5s;
  transform: rotateX(0deg) rotateY(0deg);
}

.box-area2 .box {
  position: absolute;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-area2 .box h2 {
  font-size: 25px;
  color: var(--main-white-color);
}

.box-area2 .box-front2 {
  background: url(img/img1.jpg) center/cover no-repeat;
  transform: translateZ(150px);
}

.box-area2 .box-right2 {
  background: url(img/img2.jpg) center/cover no-repeat;
  transform: rotateY(90deg) translateZ(150px);
}

.box-area2 .box-back2 {
  background: url(img/img3.jpg) center/cover no-repeat;
  transform: rotateY(180deg) translateZ(150px);
}

.box-area2 .box-left2 {
  background: url(img/img4.jpg) center/cover no-repeat;
  transform: rotateY(-90deg) translateZ(150px);
}

.box-area2 .box-top2 {
  background: url(img/img5.jpg) center/cover no-repeat;
  transform: rotateX(90deg) translateZ(150px);
}

.box-area2 .box-bottom2 {
  background: url(img/img6.jpg) center/cover no-repeat;
  transform: rotateX(-90deg) translateZ(150px);
}
.button .front2 {
  right: -285px;
  bottom: -206px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  background-color: var(--main-white-color);
  color: var(--main-black-color);
  border-radius: 50%;
}
.button .front2:hover {
  background-color: var(--main-black-color);
  color: var(--main-white-color);
}

#section3 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.svg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 131px;
  height: 193px;
  cursor: pointer;
}
.svg1-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 131px;
  height: 193px;
  background: url(img/dog.jpg) no-repeat center/100%;
  box-shadow: -11px 7px 15px 0px rgba(255, 255, 255, 0.2);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  transition: 0.3s;
}
.svg1:hover .svg1-1 {
  background-size: 120%;
  width: 151px;
  height: 243px;
  filter: brightness(0.4);
}
.svg1 .svg_txt {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 15px;
  text-align: center;
  display: none;
}
.svg1:hover .svg_txt {
  color: var(--main-white-color);
  display: inline-block;
}

#section4 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.w {
  width: 490px;
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-227px, -227px); */
  margin: -227px 0 0 -227px;
}

.w div {
  width: 24px;
  height: 25px;
  margin: 0 10px 10px 0;
  float: left;
  border-left: 1px solid #fff;
  position: relative;
  transform-origin: 0 0;
}
.w div::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -1px;
  left: -4px;
  border: 5px solid #fff;
  border-color: #fff transparent transparent transparent;
  border-width: 5px 3.5px 0 3.5px;
}

.w div.i74,
.w div.i84,
.w div.i94,
.w div.i104 {
  margin-right: 150px;
}

#section5 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#section6 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#section7 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--main-white-color);
}
