.intro {
  height: 105vh;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
}

.row-container {
  --indicator: 1;  
}
.row {
  --rotation: -45deg;

  height: 0.875lh;
  //border: 1px solid #f09;
  //transform-origin: 50% 50% -400px;
  //transform:rotateX(-20deg);
  transform: translateZ(-400px) rotateX(var(--rotation)) translateZ(400px);
  transform: translateZ(calc(400px * var(--indicator)));
  opacity: calc(1 - var(--indicator));
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='29' viewBox='0 0 15 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 24.88L9.896 4H12.272L4.376 24.88H2Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: round;
  margin-inline: 0.5ch;
}

.container {
  perspective: 800px;
  //perspective-origin: 50vw 50vh;
  font-size: 1.5rem;
  
  > * {
    transform-style: preserve-3d;
  }
  > * + * {
    margin-block-start: 0.125lh;
  }
}

body {
  background: #000;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}