.content {
  padding-top: 50vh;
  display: grid;
  gap: 2rem;
  grid-template-columns: 100%;
  grid-template-areas:
    'text'
    'block';

  grid-template-rows: auto 70vh auto;
}
.content--center-text {
  display: block;
}

.title {
  grid-area: title;
  font-weight: inherit;
  margin-bottom: 5vh;
}

.text {
  grid-area: text;
  margin: 0;
  font-size: clamp(2rem, 4.75vw, 5rem);
  text-transform: none;
  line-height: 1.1;
  font-weight: normal;
}

.expanding-text {
  vertical-align: top;
  display: inline-grid;
  grid-template-columns: min-content;
}

.expanding-text--center,
.expanding-text--full {
  display: block;
}

.text--open .expanding-text {
  height: 40vh;
}

.expanding-text-img {
  display: block;
  position: relative;
  aspect-ratio: 16/9;
  width: 0%;
  height: auto;
  overflow: hidden;
  border-radius: 4rem;
}

.expanding-text-img-inner {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.text--open .expanding-text-img {
  width: 100%;
}
.anim {
  display: inline-block;
  white-space: nowrap;
}

.block {
  grid-area: block;
  margin: 50px 0px;
  max-width: 400px;
  line-height: 1.5;
  font-size: 18px;
  color: black;
  a {
    color: black;
    text-decoration: underline;
  }
}
@media screen and (min-width: 40em) {

  .content--center {
    text-align: center;
    place-items: center;
    grid-template-areas:
      'title'
      'text'
      'block';
    grid-template-rows: auto 40vw auto;
  }
  .content--center-text:is(:last-child) {
    align-self: start;
    &::after {
      content: '- Christopher Zeeman';
      font-size: 20px;
    }
  }


  .text--open .expanding-text-img {
    max-width: 50vw;
  }
  .expanding-text--center {
    display: inline-grid;
    gap: 0.15em;
    justify-content: center;
    grid-template-columns: 1fr min-content 1fr;
  }


  .aright {
    text-align: right;
  }
  .anim {
    height: 100px;
  }
}