//******************************************************
// 歹 it if you 歹 it :) Thank you 
//******************************************************

@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background: #bb4278;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Itim", cursive;
    filter: url("#goo");
}

.btn {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: #80ece9;
    z-index: 100;
    cursor: pointer;
    transition: 0.4s ease;
    filter: url("#goo");

    p {
        color: #913b72;
        font-size: 22px;
        line-height: 1;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    &:hover {
        box-shadow: 0px 1px 9px #80ece9;
    }

    &:active {
        transform: scale(0.9);
        box-shadow: -2px 2px 23px #80ece9;
    }
}

particle {
    position: absolute;
    background: #80ece9;
    left: 0;
    border-radius: 100%;
    pointer-events: none;
    top: 0;
    transform-style: preserve-3d;
    opacity: 0;
    //box-shadow: 5px 5px 44px rgba(100, 155, 200, 1);
    z-index: 5;
    filter: url("#goo");
}

svg {
    position: absolute;
    top: -100%;
    left: -100%;
}
