//주석 --> css로 컴파일되지 않음

/* 주석문
만들기 */ //--> css로 컴파일됨

//변수 만들기
//$로 시작한다(영문, 숫자, -, _만 가능)
//숫자로 시작하면 안됨
$bg-color:#00f;
$var2:red;
$width:10;
$widthpx:10px;
$my-box:".box";
$bg-var:background;
h1{background-color: $bg-color;}
//선택자를 변수로 만들 때는 보간법을 사용해야한다.
//보간법
//#{} --> 인터폴레이션, 끼워넣는다.
#{$my-box}{
    z-index: $width;
    font-size: $widthpx;
    width: #{$width}px;
    #{$bg-var}: $var2;
}