@charset "UTF-8";
*{margin: 0;padding: 0;box-sizing: border-box;}

/* background : radial-gradient(circle, #2C4F46, #1B3C34); 
font-family: "Noto Sans KR", sans-serif;
*/
body{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 1;
    width: 100%; height: 100%;
    color: #2d2d2d;
    overflow: hidden;

}

.canvas-cont{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
#canvas3d {
    width: 100%;
    height: 100%;
    display: block;
  }

/* header */
#wrap{}
#header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 66px;
    position: fixed;
    left: 0; top: 0;
    z-index: 100;
}

#header .logo{}

#header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
}
#header .nav ul{}
#header .nav ul li{}
#header .nav ul li a{}

#header .join{
    width: 140px; height: 50px;
    padding: 14px 30px;
    background-color: #00754a;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}
#header .join:hover{
    background-color: #003e27;
}

#header .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
}
#header .icon .user{}
#header .icon .seaarch{}
#header .icon .heart{}



/* section1 */
#section1{
    width: 100vw; height: 100vh;
    background: url(img/page1.jpg) no-repeat center center/cover;
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: 20;
}
#section1 .text{
}
#section1 .text .s1_title{
    font-size: 8vw;
    font-weight: 700;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
}
#section1 .text .s1_sub_title{
    font-size: 2.3vw;
    font-weight: 500;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;top: 85%;
    transform: translate(-50%, -50%);
}
#section1 .text .s1_sub_icon{
    font-size: 2.3vw;
    font-weight: 500;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;top: 93%;
    transform: translate(-50%, -50%);
}


/* section2 */
#section2{
    width: 100vw; height: 100vh;
    background: url(img/page2.jpg) no-repeat center center/cover;
    transition: 0.3s;
    position: relative;
    z-index: 21;
}
#section2 .text .s2_title{
    position: absolute;
    font-size: 6vw;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 8%;top: 25%;
    line-height: 1.2;
}
#section2 .text .s2_sub_title{
    position: absolute;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 8%;top: 65%;
    line-height: 1.2;
}



/* section3 */
#section3{
    width: 100vw; height: 100vh;
    background: url(img/page3.jpg) no-repeat center center/cover;
    transition: 0.3s;
    position: relative;
}
#section3 .text .s3_title{
    position: absolute;
    font-size: 6vw;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 8%;top: 25%;
    line-height: 1.2;
}
#section3 .text .s3_sub_title{
    position: absolute;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 8%;top: 65%;
    line-height: 1.2;
}



/* section4 */
#section4{
    width: 100vw; height: 100vh;
    background: url(img/page4.jpg) no-repeat center center/cover;
    transition: 0.3s;
    position: relative;
}
#section4 .text .s4_title{
    position: absolute;
    font-size: 6vw;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 8%;top: 25%;
    line-height: 1.2;
}
#section4 .text .s4_sub_title{
    position: absolute;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 8%;top: 65%;
    line-height: 1.2;
}



/* section5 */
#section5{
    width: 100vw; height: 100vh;
    background: url(img/page5.jpg) no-repeat center center/cover;
    transition: 0.3s;
    position: relative;
}
#section5 .text .s5_title{
    font-size: 8vw;
    font-weight: 700;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;top: 40%;
    transform: translate(-50%, -50%);
}

/* section6 */
#section6{
    width: 100vw; height: 100vh;
    background : radial-gradient(circle, #2C4F46, #1B3C34);
}

/* section7 */
#section7{
    width: 100vw; height: 100vh;
    background : radial-gradient(circle, #2C4F46, #1B3C34);
}

/* section8 */
#section8{
    width: 100vw; height: 100vh;
    background : radial-gradient(circle, #2C4F46, #1B3C34);
}

/* section9 */
#section9{
    width: 100vw; height: 100vh;
    background : radial-gradient(circle, #2C4F46, #1B3C34);
}

/* section10 */
#section10{
    width: 100vw; height: 100vh;
    background : radial-gradient(circle, #2C4F46, #1B3C34);
}

/* section11 */
#section11{
    width: 100vw; height: 100vh;
}
