* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{text-decoration: none; color: #303030;}

body {
  background-color: #fffbf2;
  color: #303030;
  font-family: "Noto Sans KR", sans-serif;
  cursor: none;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track { 
  background-color: rgb(219, 219, 219);
}
body::-webkit-scrollbar-thumb { 
  background-color: #F3BD32;
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #e38400;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.cursor{
  transform: translate(-50%, -50%);
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(3px); */
  /* background: rgba(255, 255, 255, 0.05); */
  background: #ffb700;
  position: fixed;
  border-radius: 50%;
  aspect-ratio: 1;
  z-index: 9;
  width: 30px;
  cursor: none;
  pointer-events: none;
}
/* wrap */
#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* loading */
#loading {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  transform: none;
  z-index: 100; 
}
.Svg {
  width: 100%;
  height: 100vh;
}
.dSvg {
  position: absolute;
  top: 50%;
  left: 0vw;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.dSvg_left {
  position: absolute;
  width: 40.3%;
  height: 100vh;
  background-color: #fffbf2;
  opacity: 0;
  z-index: 1;
}
.oSvg {
  position: absolute;
  top: 47%;
  left: 28%;
  scale: 0.5;
  transform: translate(-50%, -50%);
  display: none;
}

/* header */
#header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  z-index: 100;
}
.logo img{
  width: auto;
  height: 56px;
  opacity: 0;
  position: absolute;
  top: 16px;
  left: 26px;
  pointer-events: none;
}
.menu{
  opacity: 0;
}


/* section1 */
#section1{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fff;
}
.circleWrap{
  height: 100vh;
  /* animation: cirRo 30s linear Infinite; */
}
.circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
}
@keyframes cirRo {
  0%{rotate: 0deg;}
  100%{rotate: 360deg;}
}
.circle.circle1{
  background: url(img/1.jpg) no-repeat center/cover;
  /* top: 27%; */
}
.circle.circle2{
  background: url(img/2.jpg) no-repeat center/cover;
  /* top: 38%;
  left: 63%; */
}
.circle.circle3{
  background: url(img/3.jpg) no-repeat center/cover;
  /* top: 62%;
  left: 63%; */
}
.circle.circle4{
  background: url(img/4.jpg) no-repeat center/cover;
  /* top: 75%; */
}
.circle.circle5{
  background: url(img/5.jpg) no-repeat center/cover;
  /* top: 62%;
  left: 37%; */
}
.circle.circle6{
  background: url(img/6.jpg) no-repeat center/cover;
  /* top: 38%;
  left: 37%; */
}

/* section2 */
#section2{
  width: 100%;
  height: 100vh;
}

/* section3 */
#section3{
  width: 100%;
  height: 100vh;
}