main
    div(id='stack')
        div(class='card') whatever
        div(class='card') let's go
        div(class='card') not your worst
        div(class='card') right on
        div(class='card') party time
        div(class='card') I think I get it
        div(class='card') enough then