
*{margin: 0;padding: 0;}


body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;
}

.box {
 width: 30px; height: 30px;
 background-color: aqua;
}
