
*{margin: 0;padding: 0;}

body{display: flex;justify-content: center;
  align-items: center;
  }
#wrap{}
#wrap #header{}
#wrap #header .topimg1{
  width: 100vw;height: 100vh;
  background: url(../img/스위스.jpg) no-repeat;
}