@charset "UTF-8";

*{margin: 0; padding: 0;
box-sizing: border-box;}

.container{border: 2px solid #000;
background-color: yellow;
display: flex;
/* flex-direction: row; */ /* 기본값 */
/* flex-direction: column; */

height: 200px;

flex-wrap: wrap;
}

.container .item{
/*flex item은 자식의 공간만 차지한다. */
border: 2px solid #000;
background-color: green;
/* width: 100px; */
height: 100px;
}