*{margin: 0;padding: 0;}

:root{
    --index:calc(1vw + 1vh);
    --transition:cubic-bezier(0.15, 0.88, 0.23, 1.04);

}

body{background-color: #141414;}

.wrap{
    display: flex; 
    align-items: center;justify-content: center;
    height: 100vh;
}

.items{display: flex; gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}
.item{
    width: calc(var(--index)*3);
    height: calc(var(--index)*12);
    background-size: cover;
    transform-style: preserve-3d;
    background-color: #222;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(0.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
}
.item:hover{
    transform: translateZ(100px);
    filter: grayscale(0) brightness(1);
}