
@font-face{
    font-family: Humane;
    src: url(./63bf3e1c32ea7b2c3d1bdf93_Humane-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
}

html, body{
    background-color: #000;
}

img {
    width: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 100%;
}

section.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #5546ff;
}


nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Humane", sans-serif;
    font-size: 60px;
    color: #bfff00;
}

.links {
    display: flex;
    align-items: center;
    gap: 1em;

}

.links a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}


.header {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header h1 {
    text-transform: uppercase;
    font-family: "Humane";
    font-size: 45vw;
    font-weight: 400;
    color: #fff;
    line-height: 100%;
}

.tracker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    padding: 2em 0;

}


.emoji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background: url(./assets/sphere.png) no-repeat 50% 50%;
    background-size: cover;
    border-radius: 100%;
}

.emoji-face {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.eyes,
.mouth-wrapper {
    flex: 1;
}


.eyes {
    display: flex;
    justify-content: space-between;
}
   
.eyes img {
    width: 100px;
    height: 100px;
    animation: rotateEyes 4s infinite linear;
}

.mouth-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.mouth {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #000;
    animation: wonderFace 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}


@keyframes rotateEyes {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes wonderFace {
    0% {
        height: 40px;
    }
    50% {
        height: 80px;
    }
    100% {
        height: 40px;
    }
}


.badge-parent {
    z-index: 3;
    width: 14rem;
    color: #000;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: -7%;
}

.row {
    display: flex;
    /* gap: 2em; */
    margin: 2em 0;
}

.row img {
    width: 25%;
    height: 600px;
    display: block;

}
.absolute {
    position: absolute;
}
.heading-sm {
    z-index: 1;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: Humane, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: .9;
}