:root {
  --rotation-increment: calc(360deg / 6);
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.parent {
  width: 448px;
  height: 448px;
  position: relative;
  animation: spin 10s linear infinite;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform-origin: center;
  width: 80px;
  height: 80px;
  background-color: #f3f4f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child:nth-child(1) {
  --rotation: calc(0 * var(--rotation-increment));
  transform: translate(-50%, -50%) rotate(var(--rotation)) translate(180px) rotate(calc(-1 * var(--rotation)));
}

.child:nth-child(2) {
  --rotation: calc(1 * var(--rotation-increment));
  transform: translate(-50%, -50%) rotate(var(--rotation)) translate(180px) rotate(calc(-1 * var(--rotation)));
}

.child:nth-child(3) {
  --rotation: calc(2 * var(--rotation-increment));
  transform: translate(-50%, -50%) rotate(var(--rotation)) translate(180px) rotate(calc(-1 * var(--rotation)));
}

.child:nth-child(4) {
  --rotation: calc(3 * var(--rotation-increment));
  transform: translate(-50%, -50%) rotate(var(--rotation)) translate(180px) rotate(calc(-1 * var(--rotation)));
}

.child:nth-child(5) {
  --rotation: calc(4 * var(--rotation-increment));
  transform: translate(-50%, -50%) rotate(var(--rotation)) translate(180px) rotate(calc(-1 * var(--rotation)));
}

.child:nth-child(6) {
  --rotation: calc(5 * var(--rotation-increment));
  transform: translate(-50%, -50%) rotate(var(--rotation)) translate(180px) rotate(calc(-1 * var(--rotation)));
}

.child img {
  animation: spin 10s linear infinite reverse;
  width: 32px;
  height: 32px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 176px;
  height: 176px;
  background-color: var(--color-tertiary);
  border-radius: 50%;
  overflow: hidden;
}

.user img {
  opacity: 1;
  transition: opacity 500ms ease 0s;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: cover;
  object-position: 50% 50%;
}
