.o-section {
}

.c-animation-wrapper {
  height: 80vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.c-animation {
  max-width: 660px;
}

.c-spacer {
  display: block;
  width: 100%;
  height: 60vh;
}
