@charset "UTF-8";
/* font-family: "Nanum Gothic", sans-serif;
font-family: "Nanum Brush Script", cursive; */

/* 레이아웃 */
body{
    background: url(https://cdn.pixabay.com/photo/2024/01/30/21/23/desert-8542838_1280.jpg) repeat-x center top;
    background-size: 100% 327px;
}
#header{height: 327px;}
#nav{background-color: #f6fdff;}
#title{background-color: #eaf7fd;}
main{}


/* contents */
#contents{}
#contents .container{
    display: flex;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
}
#contents #cont_left{width: 250px;}
#contents #cont_center{
    width: calc(100% - 500px);
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
}
#contents #cont_right{width: 250px;}



/* container 가운데(중앙)영역 */
.container{width: 1200px; margin: 0 auto;}



/* header */
.header{}
.header_menu{
    padding-top: 8px;
    display: flex; gap: 10px; justify-content: flex-end;}
.header_menu a{color: #fff;}
.header_menu a:hover{color: #ccc;}

.header_tit{text-align: center;}
.header_tit h1{
    color: #fff;
    background-color: #968576;
    font-size: 25px;
    font-weight: 800;
    display: inline-block;
    padding: 5px 30px;
    margin-top: 55px;
    transition: 0.3s ease-in-out;
}
.header_tit h1:hover{
    box-shadow: inset 175px 0px #5c5249,
                inset -175px 0px #5c5249;
}
.header_tit a{color: #fff;
    background-color: #cdb39c;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    transition: 0.3s;
    margin-top: -7px;
}
.header_tit a:hover{
    box-shadow: inset 84px 0px #877362,
                inset -84px 0px #877362;
}
.header_icon{margin-top: 40px;}
.header_icon ul{display: flex; justify-content: center; gap: 10px;}
.header_icon ul li{position: relative;}
.header_icon ul li a{color: #fff; font-size: 35px;
    background-color: #e6bc98; display: inline-block;
    width: 60px; height: 60px; border-radius: 50%;
    text-align: center;
    line-height: 60px;
}
.header_icon ul li a i{}
.header_icon ul li a span{
    position: absolute; top: -40px;left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    background-color: #de995e;
    line-height: 1.2;
    padding: 3px 9px;
    border-radius: 6px 0;
    /* 위(1) 좌우(2,4) 밑(3) */
    transition: 0.3s;
    opacity: 0;
}
.header_icon ul li:hover a span{
    top: -30px;
    opacity: 1;
}

.header_icon ul li a span::before{
    content: ""; position: absolute;
    left: 50%; bottom: -9px;
    border: 5px solid #de995e;
    border-left: 5px solid transparent/* (투명하게) */;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

/* nav */
.nav{
    padding: 25px 0;
    display: none;
}
.nav>div{width: 40%; float: left;}
.nav>div:last-child{width: 20%;}
.nav>div h3{
    font-size: 18px;
    color: #25a2d0; font-weight: bold;
    margin-bottom: 4px;
}
.nav>div ul{display: flex; flex-wrap: wrap;}

.nav>div ul li{width: 50%; position: relative;
    padding-left: 8px; box-sizing: border-box;
}
.nav>div ul li::before{
    content: "";
    position: absolute;
    top: 9px; left: 0;
    width: 3px; height: 3px;
    background-color: #25a2d0;
}
.nav>div ul li a{position: relative;}
.nav>div ul li a::after{
    content: "";
    position: absolute;
    left: 0; width: 0%; bottom: 0;
    height: 1px; background: #25a2d0;
    transition: 0.2s;
}
.nav>div ul li:hover a::after{
    width: 100%;
}
.nav>div:last-child ul li{width: 100%;}

/* 타이틀 */
.tit{
    position: relative;
    text-align: center;
    padding: 5px 0;
}
.tit h2{
    font-family: "Nanum Brush Script", cursive;
    font-size: 40px; color: #0093bd;
}
.tit .btn{position: absolute; right: 0;top: 5px;
    width: 60px;height: 60px;border-radius: 50%;
    background-color: #3192bf; color: #fff;
    font-size: 35px;

    /* 가운데정렬 */

    /* display: grid;
    place-items: center; */
    /* display: flex;

    justify-content: center;
    align-items: center;*/

    line-height: 60px;
}


/* contents */
.column{
    border-bottom: 1px solid #dbdbdb;
    padding: 15px;
}
.column .col_tit{
    font-size: 20px; color: #2f7fa6;
    padding: 5px;
}
.column .col_desc{
    color: #878787;
    border-bottom: 1px dashed #dbdbdb;
}
.column.col3,
.column.col6,
.column.col9{border-bottom: none;}

/* menu */
.col1 .menu{}
.col1 .menu ul{}
.col1 .menu ul li{}
.col1 .menu ul li a{
    display: block; font-size: 16px;
    color: #878787; text-transform: uppercase;
    border-bottom: 1px solid #dbdbdb;
    display: flex; justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 0.5s;
}
.col1 .menu ul li a:hover{
    box-shadow: inset 180px 0px rgba(13, 101, 139, 0.9);
    color: #fff;
    background-color: rgba(26, 130, 174, 0.9);
}
.col1 .menu ul li a i{}


/* 게시판1 */
.notice1{position: relative;}
.col2 h5{
    font-size: 14px; color: #2f7fa6;
    padding-bottom: 5px;
}
.notice1 ul{}
.notice1 ul li{
    /* 한줄 말줄임말 */
    overflow: hidden; /* (글자 끝이 보이지 않도록 하는 효과) */
    text-overflow: ellipsis; /* (글자가 길때 끝에 ... 효과) */
    white-space: nowrap; /* (글자가 아래로 떨어지지 않도록 하는 효과) */
    /* 한줄 말줄임말 */
    padding-left: 8px;
    position: relative;
}
.notice1 ul li::before{
    content: "";
    background-color: #4492e2;
    width: 3px;height: 3px;
    position: absolute;
    display: block;
    left: 0;top: 8px;
}
.notice1 ul li a{}
.more{
    position: absolute; top: 6px; right: 0; 
    color: #878787; font-size: 10px;
}
.more i{}


/* 게시판2 */
.notice2{position: relative;}
.notice2 h5{}
.notice2 ul{}
.notice2 ul li{
    /* 2줄 이상 말줄임말 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 2줄 이상 말줄임말 */
    position: relative;
    padding-left: 8px;
    margin-bottom: 5px;
}
.notice2 ul li::before{
    content: "";
    width: 3px;height: 3px;
    background-color: #449ce2;
    position: absolute;
    top: 8px;left: 0;
}
.notice2 ul li a{}

/* blog2 */
.blog2{margin-top: 15px;}
.blog2 .img-retina{}
.blog2 .img-retina h5{}
.blog2 p{}


/* 이미지 슬라이드 col4 */
.col4{padding-bottom: 30px;}
.slider{}
.slider .slick-slide{}
.slider .slick-slide figure{position: relative;}
.slider .slick-slide figure img{}
.slider .slick-slide figure figcaption{
    position: absolute;
    left: 0; bottom: 0; width: 100%; padding: 20px;
    box-sizing: border-box; color: #fff;
    background-color: rgba(0, 0, 0, .5);
    font-size: 18px;
}
.slider .slick-slide figure figcaption em{
    display: block;
    opacity: 0;
    transform: translateX(50px);
    transition: 0.9s 0.2s;
}
.slider .slick-slide.slick-active figure figcaption em{
    opacity: 1;
    transform: translateX(0px);
    
}
.slider .slick-slide figure figcaption span{
    /* 말 줄임말이 안될 경우 영역을 인식할 수 있도록 속성을 바꿔준다. */
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    opacity: 0;
    transform: translateX(50px);
    transition: 0.9s 0.4s;
}

.slider .slick-slide.slick-active figure figcaption span{
    opacity: 1;
    transform: translateX(0px);
}

.slider .slick-arrow{
    position: absolute;
    z-index: 20;
    bottom: -35px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0;
    background: none;
    color: #5dbdef;
}
.slider .slick-prev{left: 0;}
.slider .slick-prev::before{content: "\f0a8"; font-size: 30px;}
.slider .slick-next{right: 0;}
.slider .slick-next::before{content: "\f0a9"; font-size: 30px;}
.slider .slick-dots{
    position: absolute; left: 0;bottom: -19px;
    width: 100%; display: flex;
    justify-content: center;
    gap: 10px;
}
.slider .slick-dots button{
    font-size: 0; width: 15px; height: 15px;
    background-color: #5dbfeb;
    border-radius: 50%;
    transition: 0.3s;
}
.slider .slick-dots .slick-active button{
    background-color: #2b91c8;
    width: 25px; border-radius: 10px;
}






/* /////////////////////////////////// */
@media(max-width:1220px){ /* //화면의 넓이가 1220px보다 작을때 */
    .container {width: 100%;}
    .row{padding: 0 15px;}
    .header_menu{padding-right: 15px;}
    .tit .btn{right:5px;}
}
@media (max-width:1024px){}
@media (max-width:960px){
    .nav>div {
    width: 100%;
    float: none;   
    }
    .nav>div:last-child {
    width: 100%;
    }
    .nav>div ul li{
        width: 33.3333%;
    }
    .nav>div:last-child ul li{
        width: 33.3333%;
    }
}
@media (max-width:768px){}
@media (max-width:600px){
    #header {
    height: auto;
    }
    .header_tit {
        display: none;
    }
    .header_icon{
        display: none;
    }
    .tit .btn{
        display: none;
    }
}
@media (max-width:480px){
    .tit h2{
        font-size: 10vw;
    }
}
@media (max-width:320px){}