*{margin: 0;padding: 0;}
.wrap{width: 900px; margin: 0 auto;
    padding: 10% 0;
}
.wrap>div{
    margin-top: 50px;
    border-top: 1px solid #ccc;
}
h1{text-align: center;}
.wrap>div h1, h2{text-align: center; margin: 10px 0;}
table{width: 100%; text-align: center; border-collapse: collapse;}
table tr{}
table tr th{border: 1px solid #ccc;}
table tr td{border: 1px solid #ccc;}

.table3{}
.table3 table{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.table3 table tr:nth-child(1){border-bottom: 3px double #ccc;}
.table3 table tr th{border: 1px solid #ccc}
.table3 table tr th:nth-child(1){border-left: none;}
.table3 table tr th:nth-child(3){border-right: none;}

.table3 table tr th:nth-child(1){width: 30%;}
.table3 table tr th:nth-child(2){width: 50%;}
.table3 table tr th:nth-child(3){width: 20%;}
.table3 table tr:nth-child(2){height: 100px;}

.table3 table tr td{border:1px solid #ccc}
.table3 table tr td:nth-child(1){border-left: none;}
.table3 table tr td:nth-child(3){border-right: none;}

