:root {
  --rotation-increment: calc(360deg / 6);
  --padding-fluid: 6.4rem;
  --padding: 1.6rem;
  --header-height: 15rem;
  --pt-header: 0;
  --perspective: 1500px;
  --grid-item-ratio: 1.5;
  --grid-width: 100%;
  --grid-height: auto;
  --grid-gap: 2vw;
  --grid-columns: 4;
  --grid-inner-scale: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #303030;
}

img {
  object-fit: cover;
  object-position: center center;
  vertical-align: top;
}

body {
  background-color: #fffbf2;
  color: #303030;
  font-family: "Noto Sans KR", sans-serif;
  cursor: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
}

body::-webkit-scrollbar-thumb {
  background-color: #f3bd32;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #e38400;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* cursor///////////////////////////////////////////////////////////////////// */
.cursor {
  transform: translate(-50%, -50%);
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(3px);
  /* background: rgba(255, 255, 255, 0.05); */
  background: rgba(255, 183, 0, 0.3);
  position: fixed;
  border-radius: 50%;
  aspect-ratio: 1;
  z-index: 9;
  width: 30px;
  cursor: none;
  pointer-events: none;
  z-index: 10000;
}

/* wrap///////////////////////////////////////////////////////////////////// */
#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
}

.noise {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-image: url('https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif');
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.05;
}

/* header///////////////////////////////////////////////////////////////////// */
#header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  padding: 30px;
  z-index: 100;
}

.Svg {
  position: relative;
  height: 45px;
  width: 43px;
}

.dSvg {
  position: absolute;
  top: 0;
  /* left: 0; */
  left: -60px;
  width: 28px;
  /* height: 5vh; */
}

.dSvg_left {
  position: absolute;
  top: 0;
  left: -28px;
  width: 28px;
  height: 43px;
  opacity: 0;
  /* background-color: #7e652b; */
  background-color: #fffbf2;
  z-index: 1;
}

.oSvg {
  opacity: 0;
  position: absolute;
  top: 20px;
  /* left: 16px; */
  left: -24px;
  /* width: 24px; */
  width: 14px;
  /* scale: 0.5; */
  /* display: none; */
}

input[type="checkbox"] {
  display: none;
}

#active:checked~.wrapper {
  clip-path: circle(75%);
  background: #f7e6bf;
}

#active:checked~.menu-btn {
  font-size: 0;
}

#active:checked~.menu-close {
  /* color: #fff; */
  /* background-color: rgba(243, 188, 50, 0.651); */
  font-size: 17px;
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  font-size: 17px;
  font-weight: 500;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.menu-close {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  font-size: 0;
  font-weight: 500;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: right;
  align-items: center;
}

ul {
  position: relative;
  margin-right: 600px;
}

ul li {
  list-style: none;
  text-align: center;
}

ul li a {
  color: #333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.6s;
}

ul:hover li a {
  color: #30303025;
}

ul li:hover a {
  color: #303030;
  background: transparent;
}

ul li a:hover {
  top: -5px;
  position: relative;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: #ffffff8a;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}

ul li a:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
  top: 60%;
}

ul li:nth-child(6n + 1) a:before {
  background: #f3bc3286;
}

ul li:nth-child(6n + 2) a:before {
  background: #f55d2185;
}

ul li:nth-child(6n + 3) a:before {
  background: #ff9f0f7e;
}

ul li:nth-child(6n + 4) a:before {
  background: #ffe92473;
}

/* section1///////////////////////////////////////////////////////////////////// */
#section1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ff8c8c;
}

/* section2///////////////////////////////////////////////////////////////////// */
#section2 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #6ba346;
}


body {
	--color-text: #dc6e25;
	--color-bg: #efded3;
	--color-link: #000;
	--color-link-hover: #dc6e25;
	--aspect-ratio: 1/1.5;
	--imgwidthmax: 500px;
	--size-title: 10rem;
	--font-weight-title: 400;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: turquoise, serif;
	font-size: 1.5rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page {
	display: grid;
	padding: 5vw;
	max-width: 1400px;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-areas: 'header' 'meta' 'grid';
	will-change: transform;
}

.page__title {
	grid-area: header;
	margin: 0 0 1rem;
	font-size: inherit;
	font-weight: 400;
}

.credits {
	text-align: center;
}

.credits--fixed {
	position: fixed;
	bottom: 5vw;
	margin: 0;
	left: 5vw;
	width: 90vw;
	text-align: right;
}

.credits--fixed::before {
	content: '';
	background: currentColor;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5rem;
	width: 1px;
}

.meta {
	grid-area: meta;
}

.meta--center {
	justify-self: center;
	padding-top: 20vh;
}

.meta__links {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.5;
}

.meta__links--column {
	flex-direction: column;
}

.meta__links a {
	margin: 0 1.5rem 0 0;
}

.meta__demos {
	margin-top: 1rem;
}

.meta__demo {
	display: inline-block;
	margin-right: 0.75rem;
}

.meta__demo--current {
	color: var(--color-link-hover);
	pointer-events: none;
}

.content {
	grid-area: grid;
	margin: 25vh 0 30vh;
}

.content--offset {
	display: grid;
	grid-template-columns: repeat(2, minmax(100px, 1fr));
	grid-gap: 30vh 10vw;
}

.content--full {
	width: 100vw;
	justify-self: center;
}

.content--padded {
	padding: 0 10vw;
}

.content__item {
	--imgwidth: calc(var(--imgwidthmax) * var(--aspect-ratio));
	width: var(--imgwidth);
	max-width: 100%;
	position: relative;
	will-change: transform;
	margin-bottom: 30vh;
	display: grid;
	grid-template-columns: 50% 50%;
}

.content__item--wide {
	grid-template-columns: 20% 80%;
}

.content__item--wide:nth-child(even) {
	grid-template-columns: 80% 20%;
}

.content--center .content__item {
	margin: 0 auto 60vh;
}

.content__item--expand {
	width: 100%;
	grid-template-columns: minmax(0, var(--imgwidth)) 1fr;
}

.content__item--expand:nth-child(even) {
	grid-template-columns: 1fr minmax(0, var(--imgwidth));
}

.content--alternate .content__item {
	max-width: 90vw;
}

.content--offset .content__item {
	margin: 0 auto 15vh;
}

.content--offset .content__item:nth-child(even) {
	align-self: end;
	margin-bottom: -20vh;
}

.content--alternate .content__item:nth-child(even) {
	margin-left: auto;
}

.content__item-imgwrap {
	position: relative;
	--imgwidth: 100%;
	margin: 0 auto;
	grid-area: 1 / 1 / 3 / 3;
	overflow: hidden;
	width: var(--imgwidth);
	padding-bottom: calc(var(--imgwidth) / (var(--aspect-ratio)));
	will-change: transform;
}

.demo-2 .content__item-imgwrap {
	outline: 1px solid transparent;
}

.content__item--expand .content__item-imgwrap {
	grid-area: 1 / 1 / 3 / 2;
}

.content__item--expand:nth-child(even) .content__item-imgwrap {
	grid-area: 1 / 2 / 3 / 3;
	justify-self: end;
}

.content__item-img {
	--overflow: 40px;
	height: calc(100% + (2 * var(--overflow)));
	top: calc( -1 * var(--overflow));
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: 50% 0%;
	will-change: transform;
	opacity: 0.8;
}

.content__item-img--t1 {
	--overflow: 60px;
}

.content__item-img--t2 {
	--overflow: 80px;
}

.content__item-img--t3 {
	--overflow: 120px;
}

.content__item-number {
	opacity: 0.03;
	font-size: 25vw;
	position: absolute;
	top: -7vw;
	right: -10vw;
	line-height: 1;
}

.content__item:nth-child(even) .content__item-number {
	right: auto;
	left: -7vw;
}

.content__item-title {
	position: relative;
	font-size: var(--size-title);
	padding: 0 3vw;
	margin: calc(var(--size-title) * -1/2) 0 0 0;
	align-self: start;
	line-height: 1;
	font-family: var(--font-title);
	font-weight: var(--font-weight-title);
	color: var(--color-title);
	will-change: transform;
	mix-blend-mode: var(--blendmode-title);
}

.content--center .content__item-title {
	grid-area: 1 / 1 / 3 / 3;
	margin: auto;
}

.content__item-title--layer {
	padding: 0;
	z-index: 10;
	grid-area: 1 / 1 / 2 / 3;
	width: 100%;
	text-align: center;
}

.content__item-description {
	grid-area: 3 / 1 / 3 / 3;
	width: 70%;
	position: relative;
	margin: 0;
	padding: 1rem 0 0 0;
	color: var(--color-description);
}

.content--alternate .content__item-title,
.content__item--wide:nth-child(even) .content__item-description {
	grid-area: 3 / 1 / 4 / 2;
	justify-self: start;
}

.content--alternate  .content__item:nth-child(even) .content__item-title,
.content__item--wide .content__item-description {
	grid-area: 3 / 2 / 4 / 3;
	justify-self: end;
	width: auto;
}

.content__item--expand .content__item-description {
	grid-area: 1 / 2 / 3 / 3;
    justify-self: start;
    align-self: start;
    padding: 0 2rem;
    width: 250px;
    font-size: 0.9rem;
}

.content__item--expand:nth-child(even) .content__item-description {
	grid-area: 1 / 1 / 3 / 2;
	justify-self: end;
	text-align: right;
}

.content__item-deco {
	position: absolute;
	top: 2rem;
	left: 10vw;
	height: 30%;
	width: 1px;
	background: #d79612;
}

.content__item-decobar {
	width: 140%;
	height: 25%;
	top: 20%;
	left: -20%;
	position: absolute;
	background: #dd525a;
	mix-blend-mode: color-burn;
}

@media screen and (min-width: 53em) {
	.page--layout-1 {
		grid-template-columns: 30% 70%;
		grid-template-areas: 'header header' '...  meta' 'grid grid';
	}
	.page--layout-2 {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'header meta' '...  meta' 'grid grid';
	}
}

@media screen and (max-width: 40em) {
	.content__item--expand .content__item-imgwrap,
	.content__item--expand:nth-child(even) .content__item-imgwrap {
		grid-area: 1 / 1 / 3 / 3;
	}
	.content__item--expand .content__item-description,
	.content__item--expand:nth-child(even) .content__item-description,
	.content__item--wide .content__item-description,
	.content__item--wide:nth-child(even) .content__item-description {
		grid-area: 3 / 1 / 4 / 3;
	    padding: 1rem 0;
	    width: 100%;
	    text-align: left;
	}
	.content__item--wide .content__item-description {
		padding: 1rem;
	}
	.content--alternate .content__item-title,
	.content--alternate .content__item:nth-child(even) .content__item-title {
		grid-area: 1 / 1 / 4 / 2;
	}
}


/* section3///////////////////////////////////////////////////////////////////// */
#section3 {
  position: relative;
  /* overflow: hidden; */
  width: 100%;
  height: 100vh;
}

.sec3Wrap {
  width: 100%;
  height: 100%;
  padding-top: 15vh;
  padding-bottom: -10vh;
}

.content1 {
  position: absolute;
  margin-top: 29vh;
  /* padding-top: 25vh; */
  padding: 4rem 7rem;
  font-size: 22px;
  width: 990px;
}

.tiles {
  --tiles-height: 52vw;
  height: var(--tiles-height);
  position: relative;
  overflow: hidden;
}

.tiles--perspective {
  overflow: visible;
  perspective: 1000px;
  --tiles-height: 500px;
}

.tiles__wrap {
  width: 150%;
  --tileswrap-height: var(--tiles-height);
  height: var(--tileswrap-height);
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate3d(-50%, -50%, 0);
}

.tiles--perspective .tiles__wrap {
  width: 200%;
  transform: translate3d(-50%, -50%, 0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotateZ(12deg);
}

.tiles__line {
  display: flex;
}

.tiles__line-img {
  --tile-margin: 2vw;
  flex: none;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
  margin: var(--tile-margin);
  background-size: cover;
  background-position: 50% 50%;
}

.tiles--perspective .tiles__line-img {
  backface-visibility: hidden;
  outline: 1px solid transparent;
  --tile-margin: 1vw;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc(16.666vw * 1.3);
}

.tiles--darker .tiles__line-img {
  opacity: 0.7;
}

.tiles__title {
  padding: 4rem 7rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 9vw;
  margin: 0;
  line-height: 0.8;
  /* font-family: span, serif; */
}

.tiles__title--intro {
  padding-top: 15vh;
  align-items: flex-start;
  justify-content: flex-start;
}

/* section4///////////////////////////////////////////////////////////////////// */
#section4 {
  width: 100%;
  height: 300vh;
  background-color: #27ed41;
  position: relative;
  margin-top: 50vh;
}

.awardsSvg {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Awards {
  stroke: #ffc125;
  font-size: 3.5vw;
  font-weight: 700;
  stroke-width: 0.9;
  animation: textAnimate 7s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #303030;

  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: hsla(189, 68%, 75%, 0%)
  }
}



/* section5///////////////////////////////////////////////////////////////////// */
#section5 {
  width: 100%;
  height: 100vh;
  background-color: #2f9849;
  position: relative;
}

/* section6///////////////////////////////////////////////////////////////////// */
#section6 {
  width: 100%;
  height: 100vh;
  background-color: #2f7198;
  position: relative;
}