#이조상>div{padding-left: 50px;}
#이조상>div.이지만{background-color: aquamarine;}
#이조상>div.이지만 .막내{background-color: burlywood;}
#이조상>div.이지만>div{padding-left: 50px;}
#이조상>div.이서윤>div{padding-left: 50px;}


/* #이조상 .이지만{border: 2px solid red;}
#이조상 .이소아{border: 2px solid green;} */
#이조상>div.이지만{border: 2px solid rgb(243, 5, 199)}
#이조상>div .이지만{border: 2px solid rgb(243, 5, 199)}
#이조상 .이지만{border: 2px solid rgb(243, 5, 199)}


/* > : 내 바로밑의 부하
띄어쓰기 : 내 부하들 전부 */

div.이지만>.이소아{}
div>.이소아{}