@charset "UTF-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-color: #fff;
    color: #333;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}


/* wrap */
#wrap{
    width: 1000px;
    display: flex;
}


/* header */
#header{
    width: 15%;
    height: 650px;
}
#header .logo{
    width: 100%;
    height: 15%;
    background-color: #111;
}
#header .nav{
    width: 100%;
    height: 85%;
    background-color: #222;
}


/* nav */
.nav>ul{}
.nav>ul>li{
    position: relative;
    transition: 0.3s;
}
.nav>ul>li>a{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    position: relative;

}
.nav>ul>li>a:hover{
    background-color: #ccc;
}
.nav>ul>li>ul{
    position: absolute;
    top: 0;
    right: -150px;
    text-align: center;
    display: none;
}
.nav>ul>li>ul>li{}
.nav>ul>li>ul>li>a{
    display: inline-block;
    padding: 15px;
    background-color: #fff;
    width: 150px;
}
.nav>ul>li>ul>li>a:hover{
    background-color: #ccc;
}


/* #wrap_right{} */
#wrap_right{
    width: 85%;
}


/* #slider{} */
#slider{
    width: 100%;
    background-color: #333;
    overflow: hidden;
}
#slider .sliderWrap{
    display: flex;
    align-items: center;
}
#slider .sliderWrap .slider{
    height: 350px;
}
#slider .sliderWrap .slider img{
    vertical-align: top;
    height: 100%;
    width: 850px;
}


/* #contents{} */
#contents{
    width: 100%;
    display: flex;
}

#contents .notice,
#contents .gallery,
#contents .banner{
    width: 33.3333%;
    height: 200px;
}

#contents .notice{
    background-color: #444;
}
#contents .gallery{
    background-color: #555;
}
#contents .banner{
    background-color: #666;
}



/* #footer{} */
#footer{
    width: 100%;
    display: flex;
}
#footer .f_logo{
    width: 20%;
    height: 100px;
    background-color: #777;
}
#footer .f_right{
    width: 80%;
}
#footer .f_right .f_menu{
    width: 100%;
    height: 50px;
    background-color: #888;
}
#footer .f_right .f_copy{
    width: 100%;
    height: 50px;
    background-color: #999;
}